{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Platform Services API",
    "license": {
      "name": "(C) Illumina Inc, All Rights reserved."
    }
  },
  "host": "platform.us.informatics.illumina.com:8080",
  "basePath": "/platform-services-manager",
  "tags": [
    {
      "name": "notification-rest-manager",
      "description": "Notification Rest Manager"
    },
    {
      "name": "session-tracker-rest-manager",
      "description": "Session Tracker Rest Manager"
    },
    {
      "name": "groups-rest-manager",
      "description": "Groups Rest Manager"
    },
    {
      "name": "bulk-container-permission-rest-manager",
      "description": "Bulk Container Permission Rest Manager"
    },
    {
      "name": "api-registry-rest-manager",
      "description": "API Registry Rest Manager"
    },
    {
      "name": "entitlement-rest-manager",
      "description": "Entitlement Rest Manager"
    },
    {
      "name": "jwt-rest-manager",
      "description": "JWT Rest Manager"
    },
    {
      "name": "usage-rest-manager",
      "description": "Usage Rest Manager"
    },
    {
      "name": "organization-roles-rest-manager",
      "description": "Organization Roles Rest Manager"
    },
    {
      "name": "swagger-2-rest-manager",
      "description": "Swagger 2 Rest Manager"
    },
    {
      "name": "dmap-authentication-rest-manager",
      "description": "Dmap Authentication Rest Manager"
    },
    {
      "name": "permission-rest-manager",
      "description": "Permission Rest Manager"
    },
    {
      "name": "platform-configuration-rest-manager",
      "description": "Platform Configuration Rest Manager"
    },
    {
      "name": "container-rest-manager",
      "description": "Container Rest Manager"
    },
    {
      "name": "notification-rule-rest-manager",
      "description": "Notification Rule Rest Manager"
    },
    {
      "name": "custom-credentials-rest-manager",
      "description": "Custom Credentials Rest Manager"
    },
    {
      "name": "api-definition-rest-manager",
      "description": "API Definition Rest Manager"
    },
    {
      "name": "cluster-service-rest-manager",
      "description": "Cluster Service Rest Manager"
    },
    {
      "name": "notification-template-rest-manager",
      "description": "Notification Template Rest Manager"
    },
    {
      "name": "account-rest-manager",
      "description": "Account Rest Manager"
    },
    {
      "name": "api-model-rest-manager",
      "description": "API Model Rest Manager"
    },
    {
      "name": "application-management-rest-manager",
      "description": "Application Management Rest Manager"
    },
    {
      "name": "application-messages-rest-manager",
      "description": "Application Messages Rest Manager"
    },
    {
      "name": "discovery-rest-manager",
      "description": "Discovery Rest Manager"
    },
    {
      "name": "container-level-permission-rest-manager",
      "description": "Container Level Permission Rest Manager"
    },
    {
      "name": "organizations-rest-manager",
      "description": "Organizations Rest Manager"
    },
    {
      "name": "users-rest-manager",
      "description": "Users Rest Manager"
    },
    {
      "name": "countries-rest-manager",
      "description": "Countries Rest Manager"
    },
    {
      "name": "domain-rest-manager",
      "description": "Domain Rest Manager"
    },
    {
      "name": "user-permissions-rest-manager",
      "description": "User Permissions Rest Manager"
    },
    {
      "name": "o-auth-rest-manager",
      "description": "O Auth Rest Manager"
    },
    {
      "name": "audit-log-rest-manager",
      "description": "Audit Log Rest Manager"
    },
    {
      "name": "audit-report-rest-manager",
      "description": "Audit Report Rest Manager"
    },
    {
      "name": "impersonation-rest-manager",
      "description": "Impersonation Rest Manager"
    },
    {
      "name": "rest-manager",
      "description": "Rest Manager"
    },
    {
      "name": "consumable-entity-rest-manager",
      "description": "Consumable Entity Rest Manager"
    },
    {
      "name": "o-auth-child-apps-rest-manager",
      "description": "O Auth Child Apps Rest Manager"
    },
    {
      "name": "organization-util-rest-manager",
      "description": "Organization Util Rest Manager"
    },
    {
      "name": "roles-rest-manager",
      "description": "Roles Rest Manager"
    }
  ],
  "paths": {
    "/APIDefinition/": {
      "get": {
        "tags": [
          "api-definition-rest-manager"
        ],
        "summary": "Get all api metadata list",
        "description": "Get all api metadata list",
        "operationId": "getAllUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "query",
            "description": "clientId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "api-definition-rest-manager"
        ],
        "summary": "Register API",
        "description": "Register API",
        "operationId": "saveUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "apiMetadataTO",
            "description": "API to register",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiMetadataTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Returns a Account",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict - Duplicate service"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/APIDefinition/{id}": {
      "get": {
        "tags": [
          "api-definition-rest-manager"
        ],
        "summary": "Get all api metadata",
        "description": "Get all api metadata",
        "operationId": "getUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Swagger document information to create",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "api-definition-rest-manager"
        ],
        "summary": "Update api metadata",
        "description": "Update api metadata",
        "operationId": "updateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "id",
            "description": "Swagger document information to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiMetadataTO"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict - Duplicate Account"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/APIModels/": {
      "get": {
        "tags": [
          "api-model-rest-manager"
        ],
        "summary": "Get all api Model List",
        "description": "Get all api models",
        "operationId": "getAllUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "clientId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "api-model-rest-manager"
        ],
        "summary": "Register API Model",
        "description": "Register API Model",
        "operationId": "saveUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "apiModelTO",
            "description": "API to register",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIModelTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Returns a Account",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict - Duplicate service"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/APIModels/{id}": {
      "get": {
        "tags": [
          "api-model-rest-manager"
        ],
        "summary": "Get all api metadata",
        "description": "Get all api metadata",
        "operationId": "getUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Swagger document information to create",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "api-model-rest-manager"
        ],
        "summary": "Update api model",
        "description": "Update api @author rdusane",
        "operationId": "updateUsingPUT_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "id",
            "description": "id",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APIModelTO"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict - Duplicate Account"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "api-model-rest-manager"
        ],
        "summary": "DELETE Api model",
        "description": "DELETE Api model.",
        "operationId": "deleteUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/APIRegistry/": {
      "get": {
        "tags": [
          "api-registry-rest-manager"
        ],
        "summary": "Get list of APIs",
        "description": "Fetch all APIs",
        "operationId": "getServiceRegistryUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "clientId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/APIRegistry/uploadSwagger": {
      "post": {
        "tags": [
          "api-registry-rest-manager"
        ],
        "summary": "Upload Gateway API Swagger Definition",
        "description": "Upload Swagger for a client. Uses ABT Token",
        "operationId": "uploadSwaggerFileUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "client",
            "in": "query",
            "description": "client",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Account/": {
      "get": {
        "tags": [
          "account-rest-manager"
        ],
        "summary": "Get Account list registered with platform. ",
        "description": "Get Account list registered with platform. . Use ABT JWT token for authorization - Refer: https://confluence.illumina.com/display/PLAT/Platform+JWT+tokens",
        "operationId": "getAccountListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An authorized ABT JWT bearer token (Only APP to APP token has access)",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset into the table",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page Size",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "property to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Unexpected error",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountTO"
              }
            }
          },
          "201": {
            "description": "Returns Account list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountTO"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-example": {
          "source": "db",
          "sourceIdentifier": "getAccountListExample"
        },
        "x-references": {
          "source": "db",
          "sourceIdentifier": "getAccountListReferences"
        }
      },
      "post": {
        "tags": [
          "account-rest-manager"
        ],
        "summary": "Create a Account object.",
        "description": "Create a Account object. Use ABT JWT token for authorization - Refer: https://confluence.illumina.com/display/PLAT/Platform+JWT+tokens",
        "operationId": "saveAccountUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An authorized ABT JWT bearer token (Only APP to APP token has access)",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Account",
            "description": "Account information to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unexpected error",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Returns a Account",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict - Duplicate Account"
          }
        }
      }
    },
    "/Account/{id}": {
      "get": {
        "tags": [
          "account-rest-manager"
        ],
        "summary": "Get a Account object.",
        "description": "Get a Account object. Use ABT JWT token for authorization - Refer: https://confluence.illumina.com/display/PLAT/Platform+JWT+tokens",
        "operationId": "getAccountUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An authorized ABT JWT bearer token (Only APP to APP token has access)",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Unexpected error",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Returns a Account",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "x-example": {
          "source": "db",
          "sourceIdentifier": "getAccountObjectExample"
        },
        "x-references": {
          "source": "db",
          "sourceIdentifier": "getAccountObjectReferences"
        }
      },
      "put": {
        "tags": [
          "account-rest-manager"
        ],
        "summary": "Update a Account.",
        "description": "Update a Account. Use ABT JWT token for authorization - Refer: https://confluence.illumina.com/display/PLAT/Platform+JWT+tokens",
        "operationId": "updateAccountUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An authorized ABT JWT bearer token (Only APP to APP token has access)",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Account",
            "description": "Account information to create",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AccountTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unexpected error",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "Returns no content",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict - Duplicate Account"
          }
        }
      },
      "delete": {
        "tags": [
          "account-rest-manager"
        ],
        "summary": "Delete a Account.",
        "description": "Delete a Account. Use ABT JWT token for authorization - Refer: https://confluence.illumina.com/display/PLAT/Platform+JWT+tokens",
        "operationId": "deleteAccountUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An authorized ABT JWT bearer token (Only APP to APP token has access)",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Unexpected error",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "successful delete, no content returned",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Applications/Scopes": {
      "put": {
        "tags": [
          "application-management-rest-manager"
        ],
        "summary": "Save scopes/permissions for application",
        "description": "Save scopes/permissions for application.  Authorization: ABT and Platform global admin Token",
        "operationId": "saveScopesUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "query",
            "description": "clientId - required with Platform Admin token",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "scopes",
            "description": "scopes",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ScopeTO"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Applications/{clientId}/{roleId}/Permissions": {
      "get": {
        "tags": [
          "application-management-rest-manager"
        ],
        "summary": "Get Role-Permissions map",
        "description": "Get Role Permission Mapping.  Authorization: Platform Global Admin UBT or ABT Token",
        "operationId": "getRolePermissionsMappingUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "roleId",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "clientId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "application-management-rest-manager"
        ],
        "summary": "Map Permissions",
        "description": "Associate Role to Permissions.  Authorization: Platform Global Admin UBT or ABT Token",
        "operationId": "mapPermissionsUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "roleId",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "clientId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "permsTO",
            "description": "permsTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PermissionListTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/AuditLog/send-email": {
      "post": {
        "tags": [
          "audit-log-rest-manager"
        ],
        "summary": "Send Audit-Logs via. email",
        "description": "Get audit-logs. Permission Matrix: [Domain admin - {ACCESS - ALL Audit-Logs}, Org founder/Owner? , User -{N/A} ]. Authorization: User Bearer Token (UBT)",
        "operationId": "sendAuditLogsViaEmailUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From Date",
            "required": true,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "To Date",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "event type",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "email address of recipient",
            "in": "query",
            "description": "emailTo",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page«object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/AuditReport/": {
      "get": {
        "tags": [
          "audit-report-rest-manager"
        ],
        "summary": "get Audit-Logs",
        "description": "Get audit-logs. Permission Matrix: [Domain admin - {ACCESS - ALL Audit-Logs}, Org founder/Owner? , User -{N/A} ]. Authorization: User Bearer Token (UBT) token",
        "operationId": "getAuditLogsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "From Date (YYYY-MM-DD)",
            "required": true,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "To Date (YYYY-MM-DD)",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "event type",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset into the table",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page Size",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "property to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page«object»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/AuditReport/New/": {
      "put": {
        "tags": [
          "audit-report-rest-manager"
        ],
        "summary": "get Audit-Logs",
        "description": "Get audit-logs. Permission Matrix: [Domain admin - {ACCESS - ALL Audit-Logs}, Org founder/Owner? , User -{N/A} ]. Authorization: User Bearer Token (UBT) token",
        "operationId": "getAuditLogsNewUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "auditEventTO",
            "description": "auditEventTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuditReportInputTO"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset into the table",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page Size",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "property to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page«object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/ClusterService/Clean": {
      "delete": {
        "tags": [
          "cluster-service-rest-manager"
        ],
        "summary": "Perform cleaning of domain mappings",
        "description": "Perform cleaning of domain mappings",
        "operationId": "cleanMappingsUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ClusterService/DomainUrlMappings": {
      "get": {
        "tags": [
          "cluster-service-rest-manager"
        ],
        "summary": "Get all enterprise mappings",
        "description": "Get all domain url mappings registered with platform",
        "operationId": "getAllDomainMappingsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/ClusterService/LocalNode/Members": {
      "get": {
        "tags": [
          "cluster-service-rest-manager"
        ],
        "summary": "GET node info of any node from master node",
        "description": "GET node info of any node from master node",
        "operationId": "getLocalNodeMembersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/ClusterService/Node/{id}": {
      "get": {
        "tags": [
          "cluster-service-rest-manager"
        ],
        "summary": "GET node info of any node from master node",
        "description": "GET node info of any node from master node",
        "operationId": "getNodeInfoFromUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/ClusterService/NodeInfo": {
      "get": {
        "tags": [
          "cluster-service-rest-manager"
        ],
        "summary": "GET node info",
        "description": "Gets node information",
        "operationId": "getNodeInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nodeId",
            "in": "query",
            "description": "nodeId",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/ClusterService/Resync": {
      "put": {
        "tags": [
          "cluster-service-rest-manager"
        ],
        "summary": "Performs resync in the current node",
        "description": "Performs resync in the current node",
        "operationId": "reSyncUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/ClusterService/Status": {
      "get": {
        "tags": [
          "cluster-service-rest-manager"
        ],
        "summary": "Get cluster status",
        "description": "Get cluster status",
        "operationId": "getStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/ClusterService/{domainUID}": {
      "get": {
        "tags": [
          "cluster-service-rest-manager"
        ],
        "summary": "Get domain information",
        "description": "Get domain information.",
        "operationId": "getDomainInfoFromLocalUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainUID",
            "in": "path",
            "description": "domainUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Get platform configuration properties",
        "description": "Get platform configuration properties. Authorization: ABT or global admin UBT",
        "operationId": "getPlatformPropertiesFromDBUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "query",
            "description": "clientId - only applicable for Platform Admin token",
            "required": false,
            "type": "string"
          },
          {
            "name": "domainUID",
            "in": "query",
            "description": "domainUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "query",
            "description": "groupName",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset into the table",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page Size",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "property to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Insert value of platform component version",
        "description": "Insert value of platform component version. Authorization: ABT or global admin UBT.",
        "operationId": "createComponentVersionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "configurationTO",
            "description": "configurationTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Update configuration property",
        "description": "Update configuration property. Authorization: ABT or global admin UBT (With ABT, it is only allowed to modify own app properties)",
        "operationId": "updateComponentVersionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "configurationTO",
            "description": "configurationTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/APIKey/User/{pGuid}": {
      "put": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Update API Key for the user",
        "description": "Update API Key for the user",
        "operationId": "getAPIKeyUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          },
          {
            "name": "userApiKey",
            "in": "header",
            "description": "userApiKey",
            "required": true,
            "type": "string"
          },
          {
            "name": "pGuid",
            "in": "path",
            "description": "pGuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/Auth": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Get domain config",
        "description": "Get auth configuration for the domain",
        "operationId": "getAuthConfigurationUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "rUrl",
            "in": "query",
            "description": "rUrl",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "domain",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/Groups/": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Get Configuration Groups",
        "description": "Get configuration groups. Authorization: ABT or global admin UBT",
        "operationId": "getPlatformGroupsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Create configuration Group",
        "description": "Create configuration group. Authorization: ABT or global admin UBT.",
        "operationId": "createConfigurationGroupUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "configurationGroupTO",
            "description": "configurationGroupTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationGroupTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Update configuration Group",
        "description": "Update Configuration Group Authorization: ABT or global admin UBT.",
        "operationId": "updateConfigurationGroupUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "configurationGroupTO",
            "description": "configurationGroupTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationGroupTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/Groups/{groupName}": {
      "delete": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Delete configuration Group",
        "description": "Delete Configuration Group. Authorization: ABT or global admin UBT.",
        "operationId": "removeConfigurationGroupUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Group Name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Configuration/SecretKey": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "generate a secret key",
        "description": "generate a secret key. Authorization: Platform global admin UBT and ABT",
        "operationId": "getSecretKeyUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/cleanSessions": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Execute the given DB query",
        "description": "Cleans auth session",
        "operationId": "cleanSessionsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/executeDBQuery": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Execute the given DB query",
        "description": "Query DB. Only SELECT allowed.",
        "operationId": "executeDBQueryUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/getGlobalConfig": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Get platform url for a given enterprise",
        "description": "Get platform system properties",
        "operationId": "getPlatformGlobalPropertiesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/getPlatformUrl": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Get platform url for a given enterprise",
        "description": "Get platform url for a given enterprise. Helps to route the enterprise to the appropriate location.",
        "operationId": "getPlatformUrlUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "domain",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/getProperty": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Get platform url for a given enterprise",
        "description": "Get platform system properties",
        "operationId": "getPlatformPropertiesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyName",
            "in": "query",
            "description": "propertyName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/getSystemProperty": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Get platform url for a given enterprise",
        "description": "Get platform system properties",
        "operationId": "getPlatformSystemPropertiesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyName",
            "in": "query",
            "description": "propertyName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/stack": {
      "get": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "check if system property for stack is matching with DB value ",
        "description": "check if system property for stack is matching with DB value - return true if it matches",
        "operationId": "getStackUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "change value of platform component-stack version",
        "description": "change value of any platform component - stack version",
        "operationId": "updateStackUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "description": "apiKey",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Configuration/{id}": {
      "delete": {
        "tags": [
          "platform-configuration-rest-manager"
        ],
        "summary": "Update configuration property",
        "description": "disable configuration property. Authorization: ABT or global admin UBT (With ABT, it is only allowed to modify own app properties)",
        "operationId": "disableComponentUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "isForceDelete",
            "in": "query",
            "description": "isForceDelete",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ConsumableEntity/": {
      "get": {
        "tags": [
          "consumable-entity-rest-manager"
        ],
        "summary": "Get ConsumableEntity list registered with platform.",
        "description": "Get ConsumableEntity list registered with platform. Use ABT JWT token for authorization - Refer: https://confluence.illumina.com/display/PLAT/Platform+JWT+tokens",
        "operationId": "getConsumableEntityListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset into the table",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page Size",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "property to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Unexpected error",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Returns a ConsumableEntity",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict - Duplicate ConsumableEntity"
          }
        }
      },
      "post": {
        "tags": [
          "consumable-entity-rest-manager"
        ],
        "summary": "Create a ConsumableEntity object.",
        "description": "Create a ConsumableEntity object. Use ABT JWT token for authorization - Refer: https://confluence.illumina.com/display/PLAT/Platform+JWT+tokens",
        "operationId": "saveUsingPOST_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "ConsumableEntity",
            "description": "ConsumableEntity information to create",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConsumableEntityTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unexpected error",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Returns a ConsumableEntity",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict - Duplicate ConsumableEntity"
          }
        }
      }
    },
    "/ConsumableEntity/{id}": {
      "get": {
        "tags": [
          "consumable-entity-rest-manager"
        ],
        "summary": "Get a ConsumableEntity object. ",
        "description": "Get a ConsumableEntity object. Use ABT JWT token for authorization - Refer: https://confluence.illumina.com/display/PLAT/Platform+JWT+tokens",
        "operationId": "getConsumableEntityUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Unexpected error",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Returns a ConsumableEntity",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict - Duplicate ConsumableEntity"
          }
        }
      },
      "put": {
        "tags": [
          "consumable-entity-rest-manager"
        ],
        "summary": "Update a ConsumableEntity.",
        "description": "Update a ConsumableEntity. Use ABT JWT token for authorization - Refer: https://confluence.illumina.com/display/PLAT/Platform+JWT+tokens",
        "operationId": "updateConsumableEntityUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "ConsumableEntity",
            "description": "ConsumableEntity information to create",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConsumableEntityTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unexpected error",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Returns a ConsumableEntity",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict - Duplicate ConsumableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "consumable-entity-rest-manager"
        ],
        "summary": "Delete a ConsumableEntity.",
        "description": "Delete a ConsumableEntity. Use ABT JWT token for authorization - Refer: https://confluence.illumina.com/display/PLAT/Platform+JWT+tokens",
        "operationId": "deleteUsingDELETE_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Unexpected error",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "successful delete, no content returned",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Container/": {
      "get": {
        "tags": [
          "container-rest-manager"
        ],
        "summary": "Get container list",
        "description": "Get Container objects. Permission Matrix: [Domain admin - {ACCESS - ALL Containers}, Org founder/Owner? , User -{Can access only his containers} ] Authorization: JWT UBT token.",
        "operationId": "getContainersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset into the table",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page Size",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "property to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page«ContainerTO»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "container-rest-manager"
        ],
        "summary": "Save a container",
        "description": "Create a container. Permission Matrix: [Domain admin - {Only domain admin} ] Authorization: JWT UBT token.",
        "operationId": "saveUsingPOST_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "container",
            "description": "container",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Container/Users/": {
      "get": {
        "tags": [
          "container-rest-manager"
        ],
        "summary": "Get users list",
        "description": "Get users list based on container type. Permission Matrix: [Domain admin - {Only domain admin}]. Authorization: JWT UBT token.",
        "operationId": "getUsersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": false,
            "type": "string"
          },
          {
            "name": "firstname",
            "in": "query",
            "description": "firstname",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastname",
            "in": "query",
            "description": "lastname",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "username",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset into the table",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page Size",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "property to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDir",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Container/{containerId}/Permission/{permissionId}/Users/": {
      "put": {
        "tags": [
          "bulk-container-permission-rest-manager"
        ],
        "summary": "Add a container-permission to the list of users",
        "description": "Adds a permission for a list of users to a container. Permission Matrix: [Domain admin - {Only domain admin}] Authorization: JWT UBT token.",
        "operationId": "addPermissionToUsersUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerId",
            "in": "path",
            "description": "containerId",
            "required": true,
            "type": "string"
          },
          {
            "name": "permissionId",
            "in": "path",
            "description": "permissionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "pGuids",
            "description": "pGuids",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "bulk-container-permission-rest-manager"
        ],
        "summary": "Delete list of users from the container with given permission",
        "description": "Removes a permission for the list of users. userPermission Matrix: [Domain admin - {Only domain admin}] Authorization: JWT UBT token.",
        "operationId": "removeUsersPermissionsUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerId",
            "in": "path",
            "description": "containerId",
            "required": true,
            "type": "string"
          },
          {
            "name": "permissionId",
            "in": "path",
            "description": "permissionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "pGuids",
            "description": "pGuids",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Container/{id}": {
      "get": {
        "tags": [
          "container-rest-manager"
        ],
        "summary": "Get a container",
        "description": "Get a Container. Permission Matrix: [Domain admin - {ACCESS - ALL Containers}, Org founder/Owner? , User -{Can access only his containers} ] Authorization: JWT UBT token.",
        "operationId": "getUsingGET_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "container-rest-manager"
        ],
        "summary": "Update a container",
        "description": "Update a Container. Permission Matrix: [Domain admin - {Only Domain admin} ]. Authorization: JWT UBT token.",
        "operationId": "updateUsingPUT_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "container",
            "description": "container",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerTO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "container-rest-manager"
        ],
        "summary": "Delete a container",
        "description": "Delete a container object. Permission Matrix: [Domain admin - {Only Domain admin} ] Authorization: JWT UBT token.",
        "operationId": "deleteUsingDELETE_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Container/{id}/Groups/": {
      "get": {
        "tags": [
          "container-rest-manager"
        ],
        "summary": "Get groups in the container",
        "description": "Get groups list based on container id. Permission Matrix: [Domain admin - {Only domain admin}]. Authorization: JWT UBT token.",
        "operationId": "getGroupsWithinContainerUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
[...]
